# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
output/
.env
.venv
env/
venv*/
ENV/
env.bak/
venv.bak/

# Misch.
buffer
.vscode
data/vcf
ref_genome/
checkpoint_008*
checkpoint_009*
checkpoint_01*
checkpoint_02*
sample_008*
sample_009*
sample_01*
sample_02*